.center-card {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	width: 50vw;
	transition: all ease-in-out .5s;
}

.field-label, .value-field {
	width: calc(90% / 2);
	margin: 1rem;
}

.list-group .list-group-item {
	display: flex;
	justify-content: center;
}

.field-label {
	display: flex;
	justify-content: flex-end
}

.value-field {
	display: flex;
	justify-content: flex-start;
}

.field-label label {
	font-weight: bold;
}

@media only screen and (max-width: 676px) {

	.center-card {
		width: 90vw;
	}

}

@media only screen and (min-width: 677px) and (max-width: 800px) {

	.center-card {
		width: 70vw;
	}

}