.sign-in-container {

	width: 90vw;
	height: 90vh;
	padding-top: 6rem;
	display: flex;
	flex-flow: column;
	position: absolute;
	align-items: center;
}

.sign-in-card {
	width: 40vw;
}

.sign-in-control {
	width: 30%;
}