.product-form {
	margin-left: auto;
	margin-right: auto;
	width: 40rem;
	height: 15rem;
	display: flex;
	flex-flow: column;
}

.product-form-container, .product-form{
	transition: all ease-in-out .5s;
}

.product-form .product-form-field-container label {
	width: calc(100% / 1.5);
	display: flex;
}

.product-form .product-form-field-container .product-form-desc {
	text-align: justify;
}

.product-form .product-form-field-container .product-form-title {

	width: calc(100% / 3);
	padding-right: 3rem;
	justify-content: flex-end;
	display: flex;
	font-weight: 500;
}

.add-buttons .add-button {
	width: calc(100% / 2);
	margin: 0 10px;
	padding: 0px;
	height: 2.3rem;
	display: grid;
	align-content: center;
}

.add-buttons {
	justify-content: center;
	display: flex;
}

.product-form button {
	align-self: center;
	width: 10rem;
}

.product-form-field-container {
	margin: 1rem;
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
}

.product-form-field-container .form-field { 
	margin-right: .5rem;
	width: 20rem;
}

.product-form-field-container span {
	display: block;
	float: right;
	text-align: end;
	width: 100%;
}

.edit-button {
	width: 5rem;
	float: right;
}

.edit-button-container {
	padding: 1rem;
}

@media only screen and (max-width: 615px) {

	.product-form .product-form-field-container label.form-control-field {
		width: 100%;
		display: inline;
		text-align: center;
	}
	
	.product-form-field-container {
		width: 100%;
		margin: 0px;
		margin-bottom: .8rem;
		border: solid 1px #ececec;
	}

	.form-control-field {
		width: 100%;
	}
	
	.card-body {
		padding: 0px;
	}
	
	.product-form .product-form-field-container .product-form-title {
		width: 100%;
		display: inline !important;
		padding: 0px;
		text-align: center;
		padding: .2rem;
		border: solid 1px #ecececec;
    		background-color: #ecececec;
	}
	
	input.form-field.form-control {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	textarea.form-field.form-control {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.add-buttons .add-button {
		margin: 0;
		width: 100%;
		transition: all ease-in-out .5s;
	  }
}