.product-list {
	width: 100%;
	height: 100%;
	padding: 0 1.5rem;
}

.product-list h1 {
	text-align: center;
}

.product-list table.products-table, .product-list table.products-table * {
	transition: all 2s;
}